@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

a{
	color: #283593;
	text-decoration: none;
}
h3{
	margin-top: 12px;
}
*{
	margin:0px;
}
body{
	background-color: #424242;
	font-family: 'Poppins', sans-serif;
}
main{
	border-radius: 5px;
	background-color: #2a295f00;
	margin-top: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: calc((100% - 50vw) / 2);
	width: 50vw;
}
section#status{
	margin-bottom: 1rem;
	padding-top: 25px;
	padding-bottom: 25px;
	border-radius: 5px;
	text-align: center;
	background-image: url("res/text-box.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	color: #FFFFFF;
	font-size: 45px;
	font-family: 'Righteous', cursive;
	min-height: 8.8vh;
	max-width: 35vw ;
	margin-left: calc((100% - 35vw) / 2);
	align-items: center;
	display: flex;
	justify-content: center;
}
section#Slots{
	border-radius:15px;
	background-image: url("res/rectangle-outline.png");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	min-height: 40vh;
	width: 50vw;
	display: flex;
	justify-content: center;
	align-items: center;
}
section#SpinBTN{
	margin-top: 25px;
	padding-top: 25px;
	padding-bottom: 25px;
	border-radius: 5px;
	text-align: center;
	background-image: url("res/spin-btn.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	color: #FFFFFF;
	font-size: 25px;
	min-height: 68px;
	width: 30vw;
	margin-left: calc((100% - 30vw) / 2);
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Righteous', cursive;
	font-size: 50px;
}

section#SpinBTN:hover{
	cursor: pointer;
} 

section#options{
	margin-top: 20px;
	padding-top: 5px;
	border-radius: 5px;
	background-color: #169fa9;
	color: #FFFFFF;
}
.option{
	padding-left: 5px;
}
section#info{
	background-color: #169fa9;
	padding-left: 12px;
	padding-bottom: 12px;
	border-radius: 5px;
	overflow: hidden;
	animation-duration: 1s;
	color: #BDBDBD;
	margin-top: 50px;
	margin-left: 30%;
	margin-right: 30%;
	display: none;
}
#slot1{
	display: inline-block;
	margin-left: 2.5rem;
	margin-right: 2.5rem;
	background-size: 40vh;
	width: 30vh;
	height: 30vh;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

#slot2{
	display: inline-block;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	background-size: 40vh;
	width: 30vh;
	height: 30vh;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

#slot3{
	display: inline-block;
	margin-left: 2.5rem;
	margin-right: 2.5rem;
	background-size: 40vh;
	width: 30vh;
	height: 30vh;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.a1{
	background-image: url("/res/tiles/adventure.png");
}
.a2{
	background-image: url("/res/tiles/all-star.png");
}
.a3{
	background-image: url("/res/tiles/dare-to-be.png");
}
.a4{
	background-image: url("/res/tiles/dreamwork.png");
}
/* .a5{
	background-image: url("https://betsoftware.com/wp-content/uploads/sites/4/2021/11/Icons-R5-03-2-1024x1024.png");
}
.a6{
	background-image: url("https://betsoftware.com/wp-content/uploads/sites/4/2021/09/Value_We-Put-Our-Hands-Up-1024x1024.png");
}
.a7{
	background-image: url("https://betsoftware.com/wp-content/uploads/sites/4/2021/09/Value_We-Dare-To-Be-Ourselves-1024x1024.png");
} */

.bg-styles{
	background-image: url('/res/main-bg.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	height: 100vh;
	margin: 0;
	display: flex;
	align-items: center;
}

/* .slot-bg{
	background-image: url("/res/rectangle-bg.png");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 15px;
	max-height: 250px;
} */